<div class="container">
    <div class="left">
        <div #canvas></div>
        <div class="reloading" *ngIf="reloading">Loading</div>
    </div>

    <div class="right">
        <header>
            <span>Variables</span>
        </header>
        <label>
            <span>M (# Circles = 2*M + 1):</span>
            <input type="number" min="1" [(ngModel)]="m" (change)="loadSvg()">
        </label>
        <label>
            <span>Scale</span>
            <input type="text" [(ngModel)]="scalingFactor" (change)="resetScale()">
        </label>
    </div>
</div>
